@media (min-width: 1024px) {
  /* Header */

  .navbar-collapse {
    flex-grow: 0;
    padding-right: 3%;
    width: 50%;
    justify-content: end;
  }
  .navbar-nav {
    width: 100%;
    justify-content: space-around;
  }

  /* Inicio */

  .conteiner__index {
    height: auto;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "left right";
    padding: 2% 0;
    justify-content: center;
    align-content: center;
    column-gap: 4%;
  }

  .left__main--title__index {
    font-size: 230%;
    text-align: start;
  }

  .article__left--p {
    font-size: 120%;
  }

  .article__left--div__image {
    padding-bottom: 3%;
  }

  .div__image--images {
    width: 25%;
    height: auto;
  }

  #conteiner__index--right__main {
    padding: 4% 0;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-area: "right";
  }

  #conteiner__index--left__main {
    grid-area: "left";
  }

  .right__main--article__right {
    align-self: center;
  }

  .article__right--title {
    font-size: 140%;
    padding-top: 1%;
  }

  .article__right--p {
    font-size: 120%;
  }

  .right__main--bottom__right {
    display: flex;
    justify-self: center;
    align-self: center;
  }

  /* Nosotros */

  .conteiner__nos--div__title {
    padding: 2% 0;
  }

  .div__title--title__nos {
    font-size: 200%;
  }

  #conteiner__nos--section__left {
    padding: 5% 8%;
  }

  .section__left--p__nos {
    font-size: 120%;
  }

  .images__nos--image {
    width: 18%;
    padding-bottom: 6%;
  }

  /* Productos */

  .conteiner__pro--div__title {
    padding: 2% 0;
  }

  .div__title--title__pro {
    font-size: 200%;
  }

  .conteiner__pro--gallery__product {
    padding: 2% 0;
  }

  .gallery__products--article__product {
    width: 230px;
  }

  .text__pro--title__product {
    font-size: 160%;
  }

  .article__product--text__pro p {
    font-size: 110%;
  }

  /* Servicios */

  .conteiner__ser--div__title {
    padding: 2% 0;
  }

  .dic__title--title__ser {
    font-size: 200%;
  }

  .conteiner__ser--gallery__service {
    padding: 3% 0;
  }

  .gallery__service--article__service {
    width: 230px;
  }

  .text__ser--title__service {
    font-size: 160%;
  }

  .article__service--text__ser p {
    font-size: 110%;
  }

  /* Contacto */

  .conteiner__con--div__title {
    padding: 2% 0;
  }

  .div__title--title__con {
    font-size: 200%;
  }

  .conteiner__con--section__con {
    padding: 3% 2%;
    display: grid;
    grid-template-columns: auto auto;
  }

  .left__con--title__left {
    font-size: 140%;
    padding: 1% 6%;
    width: 100%;
  }

  .section__con--left__con p {
    font-size: 110%;
    padding: 0 6%;
  }

  .left__con--form__con {
    align-items: start;
    padding: 6% 15%;
  }

  .section__con--right__con {
    padding: 0 10%;
  }

  .right__con--title__right {
    font-size: 140%;
    padding: 0 0 4% 0;
  }

  .right__con--text__right {
    font-size: 110%;
    padding: 2% 0;
  }
}

@media (min-width: 1400px) {
  /* Header */

  nav ul li {
    font-size: 130%;
    padding: 2% 3%;
  }

  /* Footer */

  .conteiner__footer--icons {
    font-size: 190%;
  }

  .conteiner__footer--left {
    font-size: 140%;
  }

  .conteiner__footer--right {
    font-size: 140%;
  }

  .conteiner__footer--down {
    font-size: 120%;
  }

  /* Inicio */

  .conteiner__index {
    grid-template-columns: 50% auto;
    padding: 1% 0 4% 0;
  }

  .left__main--title__index {
    font-size: 280%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .article__left--p {
    font-size: 140%;
  }

  .right__main--article__right {
    align-self: center;
  }

  .article__right--title {
    font-size: 180%;
    padding-top: 1%;
  }

  .article__right--p {
    font-size: 140%;
  }

  .right__main--bottom__right {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
  }

  #mapa {
    width: 90%;
    height: 70%;
    align-self: center;
  }

  /* Nosotros */

  .conteiner__nos--div__title {
    padding: 2% 0;
  }

  .div__title--title__nos {
    font-size: 230%;
  }

  #conteiner__nos--section__left {
    padding: 5% 8%;
  }

  .section__left--p__nos {
    font-size: 140%;
  }

  .images__nos--image {
    width: 16%;
    padding-bottom: 6%;
  }

  /* Productos */

  .conteiner__pro--div__title {
    padding: 2% 0;
  }

  .div__title--title__pro {
    font-size: 230%;
  }

  .conteiner__pro--gallery__product {
    padding: 2% 0;
  }

  .gallery__product--article__product {
    width: 260px;
  }

  .text__pro--title__product {
    font-size: 190%;
  }

  .article__product--text__pro p {
    font-size: 130%;
  }

  /* Servicios */

  .conteiner__ser--div__title {
    padding: 2% 0;
  }

  .div__title--title__ser {
    font-size: 230%;
  }

  .conteiner__ser--gallery__service {
    padding: 3% 0;
  }

  .gallery__service--article__service {
    width: 260px;
  }

  .article__service--title__article {
    font-size: 190%;
  }

  .article__service--text__ser p {
    font-size: 130%;
  }

  /* Contacto */

  .conteiner__con--div__title {
    padding: 2% 0;
  }

  .dic__title--title__con {
    font-size: 230%;
  }

  .conteiner__con--section__con {
    padding: 3% 2%;
    display: grid;
    grid-template-columns: 60% auto;
  }

  .left__con--title__left {
    font-size: 160%;
    padding: 1% 6%;
    width: 100%;
  }

  .section__con--left__con p {
    font-size: 130%;
    padding: 0 6%;
  }

  .left__con--form__con {
    align-items: start;
    padding: 6% 20%;
  }

  .form__con--input__form {
    width: 60%;
    height: 10%;
  }

  .form__con--input__submit {
    width: 15%;
    height: auto;
  }

  .form__con--estilotextarea {
    width: 70%;
    height: auto;
  }

  .section__con--right__con {
    padding: 0 15%;
  }

  .right__con--title__right {
    font-size: 160%;
    padding: 0 0 4% 0;
  }

  .right__con--text__right {
    font-size: 130%;
    padding: 2% 0;
  }
}
