.body__pro {
  display: grid;
  grid-template-rows: auto 1fr auto;

  .conteiner__pro {
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .conteiner__pro--div__title {
      width: 100%;
      background-color: $primary-color;
      padding: 7% 0;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      .div__title--title__pro {
        color: $secondary-color;
        font-size: 200%;
      }
    }

    .conteiner__pro--gallery__product {
      display: flex;
      width: auto;
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10% 0;

      .gallery__products--article__product {
        width: 65%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5%;
        border: 1px solid $primary-color;
        border-radius: 15px;
        box-shadow: 0 0 10px $primary-color;
        transition: $transition-1;

        &:hover {
          transition: $transition-1;
          transform: translateY(-3%);
          box-shadow: 0 0 15px $primary-color;
          width: 80%;
          height: auto;
        }

        .article__product--image__product {
          width: 100%;
        }

        .article__product--text__pro {
          background-color: $primary-color;
          width: 100%;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;

          .text__pro--title__product {
            font-size: 24px;
            text-align: center;
            padding: 1%;
            color: $secondary-color;
          }

          p {
            text-align: center;
            padding: 2%;
            color: $secondary-color;
            height: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .body__pro {
    .conteiner__pro {
      .conteiner__pro--div__title {
        padding: 4% 0;

        .div__title--title__pro {
          font-size: 240%;
        }
      }

      .conteiner__pro--gallery__product {
        .gallery__products--article__product {
          width: 35%;

          &:hover {
            width: 40%;
          }

          .article__product--text__pro {
            .text__pro--title__product {
              font-size: 160%;
            }

            p {
              font-size: 110%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .body__pro {
    .conteiner__pro {
      .conteiner__pro--div__title {
        padding: 2% 0;

        .div__title--title__pro {
          font-size: 200%;
        }
      }

      .conteiner__pro--gallery__product {
        padding: 2% 0;

        .gallery__products--article__product {
          width: 30%;

          &:hover {
            width: 35%;
          }

          .article__product--text__pro {
            .text__pro--title__product {
              font-size: 160%;
            }

            p {
              font-size: 110%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .body__pro {
    .conteiner__pro {
      .conteiner__pro--div__title {
        .div__title--title__pro {
          font-size: 230%;
        }
      }

      .conteiner__pro--gallery__product {
        .gallery__products--article__product {
          width: 20%;

          &:hover {
            width: 25%;
          }
          .article__product--text__pro {
            .text__pro--title__product {
              font-size: 190%;
            }

            p {
              font-size: 130%;
            }
          }
        }
      }
    }
  }
}
